body {
	margin-top: 2em;
	line-height: 100%;
	background-color: black;
	color: white;
}

div {
	text-align: center;
	border: 1px solid gold;
	margin: 0 auto;
	padding-top: 1em;
	width: 60%;
	background-color: rgb(30, 30, 30);
}

.takki {
	width: 50%;
	height: 2em;
	border: none;
	font-size: 2em;
	border-radius: 10px;
}

.takki:hover {
	cursor: pointer;
	background-color: rgb(200, 200, 200);
}

.skyrsla {
	padding-top: .5em;
	margin: 0 auto;
	width: 90%;
	font-size: 1.5em;
	line-height: 1.25em;
}

iframe {
	margin-bottom: 1em;
}